:root {
  --white: black;
  --untitled-ui--gray700: #344054;
  --untitled-ui--primary600: #3e8b66;
  --untitled-ui--white: white;
  --untitled-ui--primary700: #3e8b66;
  --untitled-ui--primary100: #f4ebff;
  --untitled-ui--gray600: white;
  --untitled-ui--gray50: #f9fafb;
  --untitled-ui--gray300: #d0d5dd;
  --untitled-ui--gray800: #1d2939;
  --untitled-ui--gray100: #f2f4f7;
  --untitled-ui--gray900: #101828;
  --untitled-ui--primary800: #3e8b66;
  --untitled-ui--gray500: #667085;
  --untitled-ui--success50: #ecfdf3;
  --untitled-ui--success700: #027a48;
  --black: white;
  --untitled-ui--primary300: #d6bbfb;
  --untitled-ui--gray400: #98a2b3;
  --untitled-ui--gray200: #eaecf0;
  --untitled-ui--pink50: #fdf2fa;
  --untitled-ui--pink700: #c11574;
  --untitled-ui--indigo50: #eef4ff;
  --untitled-ui--indigo700: #3538cd;
  --untitled-ui--primary50-2: #f9f5ff;
  --untitled-ui--primary500: #9e77ed;
  --font-family: "Oxygen Mono", sans-serif;
}

/* Global styles for the root HTML document */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;  
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

html,
body {  
  margin: 0%; /* INCLUDE FOR NAV BAR TO COVER 100% WINDOW WIDTH */
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.large-space {
  width: 100%;
  min-height: 7rem;
}

.intro-text {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.demo-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.book-demo {
  display: flex;
  background-color: black;
  border-radius: 15px;
  padding: 1rem;
}

.book-demo:hover {
  background-color: #3E8B66;
  color: rgb(61, 55, 55);
}

.launch-terminal {
  display: flex;
  background-color: #3E8B66;
  border-radius: 15px;
  padding: 1rem;
}

.launch-terminal:hover {
  color: rgb(61, 55, 55);
}

body {
  background-color: #141414;
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

img {
  display: block;
}

.uui-space-large {
  justify-content: center;
  width: 100%;
  min-height: 3rem;
  margin-top: 33px;
  display: flex;
}

.uui-max-width-medium {
  width: 100%;
  max-width: 35rem;
}

.uui-space-small {
  width: 100%;
  min-height: 1.5rem;
}

.uui-heading-xlarge {
  color: var(--untitled-ui--white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 1.2;
}

.uui-badge-group_badge {
  background-color: var(--untitled-ui--white);
  color: var(--untitled-ui--gray700);
  white-space: nowrap;
  border-radius: 1rem;
  align-items: center;
  padding: .125rem .625rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
}

.uui-badge-group_badge.is-primary {
  background-color: var(--untitled-ui--white);
  color: var(--untitled-ui--primary700);
}

.uui-badge-group {
  background-color: var(--untitled-ui--gray100);
  color: var(--untitled-ui--gray700);
  white-space: nowrap;
  mix-blend-mode: multiply;
  border-radius: 10rem;
  align-items: center;
  padding: .25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
}

.uui-badge-group.is-primary {
  background-color: var(--black);
  color: var(--untitled-ui--primary600);
  white-space: nowrap;
  background-color: var(--untitled-ui--primary600);
  white-space: nowrap;
  mix-blend-mode: normal;
  text-decoration: none;
}

.uui-heroheader04_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.uui-padding-vertical-xhuge {
  padding-top: 5.5rem;
  padding-bottom: 7rem;
}

.uui-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding {
  background-color: #00b96b;
  padding-left: 2rem;
  padding-right: 2rem;
}

.uui-section_heroheader04 {
  overflow: hidden;
}

.text-block-5 {
  color: var(--untitled-ui--primary600);
}

.body-3 {
  background-color: #fff;
}

.uui-heroheader16_image {
  width: 76rem;
  min-width: 76rem;
  margin-bottom: 120px;
}

.uui-button-5 {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--primary600);
  background-color: var(--untitled-ui--primary600);
  color: var(--untitled-ui--white);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button-5:hover {
  border-color: var(--untitled-ui--primary700);
  background-color: var(--untitled-ui--primary700);
}

.uui-button-5:focus {
  background-color: var(--untitled-ui--primary600);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui--primary100);
}

.uui-button-5.is-button-large {
  grid-column-gap: .75rem;
  padding: 1rem 1.75rem;
  font-size: 1.125rem;
}

.uui-max-width-large {
  width: 100%;
  max-width: 48rem;
}

.uui-max-width-large.align-center, .align-center {
  margin-left: auto;
  margin-right: auto;
}

.uui-heading-xlarge-2 {
  color: var(--untitled-ui--white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 1.2;
}

.uui-max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.uui-text-align-center {
  text-align: center;
}

.uui-heroheader16_component {
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  display: flex;
}

.uui-space-xhuge {
  width: 100%;
  min-height: 7rem;
}

.uui-page-padding-2 {
  color: #141414;
  background-color: #161616;
  padding-left: 2rem;
  padding-right: 2rem;
}

.uui-section_heroheader16 {
  overflow: hidden;
}

.uui-space-medium {
  width: 100%;
  min-height: 2rem;
}

.uui-text-size-large {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.uui-space-xsmall {
  width: 100%;
  min-height: 1rem;
}

.uui-heading-medium {
  color: var(--untitled-ui--white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
}

.uui-heading-subheading {
  color: var(--untitled-ui--primary600);
  margin-bottom: .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-layout49_image {
  border: .25rem solid var(--untitled-ui--gray900);
  border-radius: .5rem;
  width: 40rem;
  min-width: 40rem;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: 3rem;
}

.uui-layout49_image-wrapper {
  background-color: var(--untitled-ui--gray100);
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 33rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.uui-layout49_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-top: 187px;
  display: grid;
}

.uui-page-padding-3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-3 {
  margin-top: 166px;
  padding-top: 0;
}

.uui-layout10_image {
  border: .25rem solid var(--untitled-ui--gray900);
  border-radius: .5rem;
  width: 40rem;
  min-width: 40rem;
  position: absolute;
  top: 3rem;
  bottom: auto;
  left: 3rem;
  right: auto;
}

.uui-layout10_image.shadow-xlarge {
  border: 0 solid #000;
  width: 80%;
  min-width: 40px;
}

.uui-layout10_image-wrapper {
  color: rgba(20, 20, 20, 0);
  background-color: rgba(20, 20, 20, 0);
  height: 100%;
  min-height: 32rem;
  position: relative;
  overflow: hidden;
}

.uui-icon-featured-outline-large {
  color: var(--untitled-ui--primary600);
  background-color: #141414;
  border: 0 solid #000;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
}

.uui-layout10_component {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-top: 0;
  display: grid;
  position: static;
}

.uui-text-size-medium {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: none;
}

.uui-space-xxsmall {
  width: 100%;
  min-height: .5rem;
}

.uui-layout33_component {
  grid-column-gap: 4rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.uui-padding-vertical-xhuge-2 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.uui-form_input::placeholder {
  color: var(--untitled-ui--gray500);
}

.uui-signup-form_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  margin-bottom: .375rem;
  padding-top: 21px;
  display: grid;
  cursor: pointer;
}

.uui-cta07_form {
  max-width: 30rem;
  margin-bottom: 0;
}

.uui-heading-small {
  color: var(--untitled-ui--white);
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.4;
}

.uui-cta07_content {
  flex: 1;
}

.uui-cta07_component {
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  background-color: var(--untitled-ui--primary700);
  border-radius: .6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr .75fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: start;
  padding: 4rem;
  display: grid;
}

.uui-footer07_legal-link {
  color: var(--untitled-ui--gray500);
  font-family: Montserrat, sans-serif;
  font-size: .875rem;
  text-decoration: none;
  transition: all .3s;
  cursor: pointer;
}

.uui-footer07_legal-link:hover {
  color: var(--untitled-ui--gray600);
}

.uui-footer07_legal-list {
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.uui-footer07_bottom-wrapper {
  border: 0 solid #000;
  justify-content: space-between;
  margin-top: 4rem;
  padding-top: 2rem;
  display: flex;
}

.uui-footer07_link {
  color: var(--untitled-ui--gray600);
  text-align: center;
  padding: .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
}

.uui-footer07_link:hover {
  color: var(--untitled-ui--gray700);
}

.uui-footer07_link-list {
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: start;
  display: grid;
}

.uui-max-width-large-2 {
  width: 100%;
  max-width: 48rem;
}

.uui-max-width-large-2.align-center, .align-center-2 {
  margin-left: auto;
  margin-right: auto;
}

.uui-heading-large {
  color: var(--untitled-ui--white);
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  display: block;
}

.uui-breadcrumb-link {
  color: var(--untitled-ui--gray600);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: all .3s;
}

.uui-breadcrumb-link:hover {
  color: var(--untitled-ui--gray700);
}

.uui-breadcrumb-link.w--current {
  color: var(--untitled-ui--primary700);
  font-weight: 600;
}

.uui-breadcrumb-link.w--current:hover {
  color: var(--untitled-ui--primary800);
}

.uui-breadcrumb-divider {
  color: var(--untitled-ui--gray500);
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
  display: flex;
}

.text-block-19 {
  border-right: 0 solid #fff;
  padding-right: 15px;
}

.text-block-15 {
  cursor: pointer;
}

.text-block-20 {
  padding-left: 15px;
}

.body-5 {
  background-color: #141414;
}

.uui-space-small-2 {
  width: 100%;
  min-height: 1.5rem;
}

.uui-text-size-medium-3 {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.uui-heading-xsmall-2 {
  color: var(--untitled-ui--white);
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

.paragraph {
  color: #7b8090;
  padding-top: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.uui-text-size-large-2 {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.uui-heading-large-2 {
  color: var(--untitled-ui--primary700);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.uui-heading-subheading-2 {
  color: var(--untitled-ui--primary600);
  margin-bottom: .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-max-width-large-3 {
  width: 100%;
  max-width: 48rem;
}

.uui-padding-vertical-xhuge-4 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.uui-container-large-3 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding-5 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.uui-space-xxsmall-2 {
  color: #fff;
  width: 100%;
  min-height: .5rem;
  padding-right: 31px;
}

.uui-heading-medium-3 {
  color: var(--untitled-ui--primary700);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
}

.uui-button-5-copy {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--primary600);
  background-color: var(--untitled-ui--primary600);
  color: var(--untitled-ui--white);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button-5-copy:hover {
  border-color: var(--untitled-ui--primary700);
  background-color: var(--untitled-ui--primary700);
}

.uui-button-5-copy:focus {
  background-color: var(--untitled-ui--primary600);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui--primary100);
}

.uui-button-5-copy.is-button-large {
  grid-column-gap: .75rem;
  border-color: var(--black);
  background-color: var(--black);
  color: var(--untitled-ui--gray800);
  -webkit-text-stroke-color: var(--untitled-ui--primary700);
  padding: 1rem 1.75rem;
  font-size: 1.125rem;
}

.image-3 {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
}

.uui-layout10_image-copy.shadow-xlarge {
  border: 0 solid #000;
  width: 100%;
  min-width: 40px;
  margin-top: 94px;
}

.uui-layout10_image-2 {
  border: .25rem solid var(--untitled-ui--gray900);
  border-radius: .5rem;
  width: 40rem;
  min-width: 40rem;
  position: absolute;
  top: 3rem;
  bottom: auto;
  left: 3rem;
  right: auto;
}

.uui-layout10_image-wrapper-2 {
  background-color: var(--untitled-ui--gray100);
  height: 100%;
  min-height: 27rem;
  position: relative;
  overflow: hidden;
}

.uui-button-row-2 {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.uui-space-medium-2 {
  width: 100%;
  min-height: 2rem;
}

.uui-text-size-large-4 {
  color: var(--untitled-ui--gray600);
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.uui-space-xsmall-3 {
  width: 100%;
  min-height: 1rem;
}

.uui-heading-medium-4 {
  color: var(--untitled-ui--white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
}

.uui-space-small-3 {
  width: 100%;
  min-height: 1.5rem;
}

.uui-icon-1x1-xsmall-3 {
  width: 1.5rem;
  height: 1.5rem;
}

.uui-icon-featured-outline-large-3 {
  border: .5rem solid var(--untitled-ui--primary50-2);
  background-color: var(--untitled-ui--primary100);
  color: var(--untitled-ui--primary600);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
}

.uui-layout10_component-2 {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.uui-padding-vertical-xhuge-6 {
  padding-top: 0;
  padding-bottom: 2.2rem;
}

.uui-container-large-5 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding-7 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.uui-layout10_image-copy {
  border: .25rem solid var(--untitled-ui--gray900);
  border-radius: .5rem;
  width: 40rem;
  min-width: 40rem;
  position: absolute;
  top: 3rem;
  bottom: auto;
  left: 3rem;
  right: auto;
}

.uui-layout10_image-copy.shadow-xlarge {
  border: 0 solid #000;
  width: 80%;
  min-width: 40px;
}

.uui-layout10_image-copy.shadow-xlarge-copy {
  border: 0 solid #000;
  width: 100%;
  min-width: 40px;
  margin-top: 96px;
  margin-right: 0;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.uui-text-size-xlarge-2 {
  color: var(--untitled-ui--gray600);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

.uui-heading-large-3 {
  color: var(--untitled-ui--white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.uui-heading-subheading-4 {
  color: var(--untitled-ui--primary600);
  margin-bottom: .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-max-width-large-5 {
  width: 100%;
  max-width: 48rem;
}

.uui-button-9 {
  grid-column-gap: .5rem;
  border: 1px solid var(--untitled-ui--primary600);
  background-color: var(--untitled-ui--primary600);
  color: var(--untitled-ui--white);
  text-align: center;
  white-space: nowrap;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button-9:hover {
  color: rgb(61, 55, 55);
}

.text-block-18 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.uui-footer07_top-wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
}