:root {
  --white: black;
  --untitled-ui--gray700: #344054;
  --untitled-ui--primary600: #3e8b66;
  --untitled-ui--white: white;
  --untitled-ui--primary700: #3e8b66;
  --untitled-ui--primary100: #f4ebff;
  --untitled-ui--gray600: white;
  --untitled-ui--gray50: #f9fafb;
  --untitled-ui--gray300: #d0d5dd;
  --untitled-ui--gray800: #1d2939;
  --untitled-ui--gray100: #f2f4f7;
  --untitled-ui--gray900: #101828;
  --untitled-ui--primary800: #3e8b66;
  --untitled-ui--gray500: #667085;
  --untitled-ui--success50: #ecfdf3;
  --untitled-ui--success700: #027a48;
  --black: white;
  --untitled-ui--primary300: #d6bbfb;
  --untitled-ui--gray400: #98a2b3;
  --untitled-ui--gray200: #eaecf0;
  --untitled-ui--pink50: #fdf2fa;
  --untitled-ui--pink700: #c11574;
  --untitled-ui--indigo50: #eef4ff;
  --untitled-ui--indigo700: #3538cd;
  --untitled-ui--primary50-2: #f9f5ff;
  --untitled-ui--primary500: #9e77ed;
  --font-family: "Oxygen Mono", sans-serif;
}

/* Global styles for the root HTML document */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;  
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  height: 100vh;
}

html,
body {  
  margin: 0%; /* INCLUDE FOR NAV BAR TO COVER 100% WINDOW WIDTH */
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.large-space {
  width: 100%;
  min-height: 7rem;
}

.intro-text {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.demo-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.book-demo {
  display: flex;
  background-color: black;
  border-radius: 15px;
  padding: 1rem;
}

.book-demo:hover {
  background-color: #3E8B66;
  color: rgb(61, 55, 55);
}

.launch-terminal {
  display: flex;
  background-color: #3E8B66;
  border-radius: 15px;
  padding: 1rem;
}

.launch-terminal:hover {
  color: rgb(61, 55, 55);
}