/* Target Element with ID root 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}
*/

/* Global styles for the root HTML document */
:root {
  font-family: Oxygen Mono, sans-serif;
  
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  height: 100vh;
}

html,
body {  
  margin: 0%; /* INCLUDE FOR NAV BAR TO COVER 100% WINDOW WIDTH */
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.large-space {
  width: 100%;
  min-height: 7rem;
}

.intro-text {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.demo-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.book-demo {
  display: flex;
  background-color: black;
  border-radius: 15px;
  padding: 1rem;
}

.launch-terminal {
  display: flex;
  background-color: #3E8B66;
  border-radius: 15px;
  padding: 1rem;
}