.company-events-box  {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 650px;
    width: 350px;
    cursor: pointer;
    min-height: 100px;
    min-width: 640px;
    border-color: #3E8B66;;
    border-radius: .1px;
    border-style: solid;
    overflow-y: scroll;
}

.box button {
    display: flex;
    height: 20px;
}

.filing-table {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.filings-options input {
    width: 5rem;
}

.time-frame-options input {
    width: 10rem;
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}