* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.terminal {
    display: flex;
    flex-direction: column;
}

.top-menu-row {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    top: 0;
    width: 100%;
    min-height: 3rem;
    padding-right: 1rem;
    padding-left: 1rem; 
    overflow: hidden;
}   

.middle-settings-options span {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 5px;
    cursor: pointer;
    background: none;
} 

.middle-settings-options button {
    background: none;
    border: none;
    outline: none;
    background-color: #000000;
    cursor: pointer;
}

.middle-settings-options button:hover {
    background-color: rgb(63, 62, 62);
    transition: .1s;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
}

.right-side-search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: row;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.middle-settings-options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-side-terminal-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.help-button span {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 5px;
    cursor: pointer;
    background: none;
} 

.help-button button {
    background: none;
    border: none;
    outline: none;
    background-color: #000000;
}

.help-button button:hover {
    background-color: rgb(63, 62, 62);
    transition: .1s;
    border-radius: 5px;
    height: 35px;
}

.time-options button {
    background: none;
    border: none;
    outline: none;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
} 

.time-options button:hover {
    background-color: rgb(63, 62, 62);
    transition: .1s;
    border-radius: 5px;
    height: 35px;
}

.circle {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    color: grey;
    align-items: center;
    justify-content: center;
    font-size: 5px;
}

.register-button {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 5px;
    background-color: #3E8B66;
    width:80px;
    height: 35px;
    padding-left: .5rem;
    padding-right: .5rem;
    cursor: pointer;
    border: none;
}

.register-button span,
.login-button-terminal span {
    font-size: 15px;
}

.login-button-terminal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 5px;
    background-color: rgb(94, 91, 91); 
    border-color: rgb(94, 91, 91);
    width: 60px;
    height: 35px;
    padding-left: .5rem;
    padding-right: .5rem;
    cursor: pointer;
    border: none;
}

.login-button-terminal:hover {
    border-color: #3E8B66; 
    color: #3E8B66; 
}

.bottom-menu-row {
    position: fixed;
    display: flex;
    flex-direction: row;
    min-height: 2rem;
    background-color: #252121CC;
    bottom: 0;
    width: 100%;
}

.main-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #38795A;
    border: none;
    align-items: center;   
}

.main-button span {
    font-family: Oxygen Mono, sans-serif;
}

.main-button:hover {
    background-color: #508a6e;   
    transition: .5s;
}

.add-button {
    display: flex;
    color: white;
    border: none;
    align-items: center;
}

.add-button:hover {
    background-color: grey;
    transition: .5s;
}



#middle-section {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: dark;
}

.search-bar {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: 600px;
    height: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-bar-input {
    display: flex;
    flex-direction: row;
    border: none;
    color: white;
    min-height: 2em;
    background-color: #000000;
    border-color: none;
    outline: none; 
    width: 39vw;
    font-size: 2vh;
}

.search-bar-div {
	position: relative;
}
.search-bar-div	i {
	position: absolute;
	width: 21px;
	height: 80%;
	background-color: gray;
	left: 5px;
	top: 10%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
    background: white;
}

.search-bar-div input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}


