.box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 60px;
    width: 60px;
    cursor: pointer;
    min-height: 200px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    
    overflow-y: hidden;
    /* overflow-y: scroll; */
}

.top-settings-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .5rem;
    padding-left: .5rem; 
}

.settings-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.settings-right-side-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
}
.gear {

}

.x {

}

.settings-options {
    display: flex;
    flex-direction: row;
    padding-right: .5rem;
    padding-left: .5rem; 
    height: 30px;
    align-items: center;
    
}

.settings-options h1 {
    font-size: 20px;
}

.settings-options button {
    padding-left: .5rem;
    row-gap: 2px;
}


.settings-row {
    flex-direction: column;
    display: flex;
    align-items: center;
}

