.box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 60px;
    width: 60px;
    cursor: pointer;
    min-height: 200px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    
    overflow-y: hidden;
    /* overflow-y: scroll; */
}

.top-settings-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: .5rem;
    padding-left: .5rem; 
}

.settings-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.settings-right-side-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
}
.gear {

}

.x {

}

.settings-options {
    display: flex;
    flex-direction: row;
    padding-right: .5rem;
    padding-left: .5rem; 
    height: 30px;
    align-items: center;
}

.settings-options span {
    flex-direction: row;
    gap: 2px;
    display: flex;
}

.settings-options h1 {
    font-size: 20px;
}

.settings-options button {
    padding-left: .5rem;
    row-gap: 2px;
    display: flex;
    margin-right: .25rem;
}


.settings-row {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.settings-right-side-buttons button {
    border: none;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.settings-options input {
    border: none;
    background-color: #000000;
}

.settings-options select {
    border-radius: 15px;
    border: none;
    border-color: black;
}

.settings-options button {
    cursor: pointer;
}

.settings-options button {
    background-color: #38795a;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
}


.top-settings-options {
    display: flex;
    flex-direction: row;
    padding-right: .5rem;
    padding-left: .5rem; 
    height: 30px;
    align-items: center;
    gap: .5rem;
}

.top-settings-options h1 {
    font-size: 20px;
}

.top-settings-options button {
    padding-left: .5rem;
    row-gap: 2px;
}

.top-settings-options button{
    background-color: #38795a;;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;

}
