#equity-screener-box {
    overflow-y: scroll;
}

.conditional-options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: end;
    gap: .5rem;
}