#world-indices-box {
    min-height: 400px;
    min-height: 200px;
    overflow: scroll;
    height: 350px;
    width: 700px;
    overflow-x: hidden;
}

.settings-text span {
    display: flex;
    align-items: center;
}

#world-indices-box .top-indices-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}