.box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 60px;
    width: 60px;
    cursor: pointer;
    min-height: 200px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    
    overflow-y: hidden;
    /* overflow-y: scroll; */
}

.box button {
    display: flex;
    height: 20px;
}