#description-box {
    min-width: 650px;
    min-height: 350px;
    border-color: #3E8B66;;
    border-radius: .1px;
    border-style: solid;
}

#description-box h1 {
    font-size: 26px ;
}

#description-box .description-chart {
    width: 70%;
}

#description-box .description-stats {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.color-text a,
.color-text span{
    color: #3E8B66;
}

.spacing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.regular-text {
    line-height: 1.5;
    font-weight: 400;
}

.chart-title {
    display: flex;
    padding-left: 1rem;
}