#help-box {
    max-width: 698px;
    max-height: 500px;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.documentation {
    background: #38795a;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: .2rem;
}

.top-row h1 {
    font-size: 20px;
}

.top-row p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.element-wrapper span{
    border-radius: 5px;
    padding: .2rem;
}

.security-identifier {
    color: #3c89e8;
    background: #111a2c;
    border-color: #15325b;
}

.asset-class {
    color: #6abe39;
    background: #162312;
    border-color: #274916;
}

.command-shortcut {
    color: #e87040;
    background: #2b1611;
    border-color: #592716;
}

.arguement-one {
    background-color: grey;
    margin-right: 5px;
}

.arguement-two {
    background-color: grey;
    margin-right: 5px;
}