/* General styles for both calendars */
.react-calendar {
    margin: auto;
    background-color: #302f2f;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    position: relative;
    top: 20px;
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    border-bottom: 1px solid #d0d0d0;
    border-color: none;
}

.react-calendar__navigation button {
    background-color: #302f2f;
    border: none;
}

.calendar-end .react-calendar__navigation__prev2-button {
    display: none;
}

.calendar-end .react-calendar__navigation__prev-button {
    display: none;
}

.calendar-end .react-calendar__navigation__next-button {
    font-size: 1.5rem;   
}

.calendar-end .react-calendar__navigation__next-button:hover {
    color: #38795a;
    cursor: pointer;
}

.calendar-end .react-calendar__navigation__next2-button {
    font-size: 1.5rem;
}

.calendar-end .react-calendar__navigation__next2-button:hover {
    color: #38795a;
    cursor: pointer;
}


/* Top navigation menu */
.react-calendar__navigation__label__labelText {
    cursor: pointer;
}

.react-calendar__navigation__label__labelText:hover {
    color:  #38795a;
} 

/* Days of week headings */
.react-calendar__month-view__weekdays {
    background-color: #302f2f;
}

.react-calendar__month-view__weekdays__weekday {
    background-color: #302f2f;
    cursor: pointer;
    padding-top: .5rem;    
    padding-bottom: .5rem;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

/* Day cells */
.react-calendar__month-view__days__day {
    background-color: #302f2f;
    cursor: pointer;
    flex-grow: 1;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-calendar__month-view__days__day--neighboringMonth {
    background-color: #302f2f;
}

/* Calendar tile */
.react-calendar__tile {
    background-color: #302f2f;
    border-color: #302f2f;
    background: none;
    border: none;
    padding: 0.5em;
    cursor: pointer;
}

.react-calendar__tile--active {
    background-color: #302f2f;
}

.react-calendar__tile--now {
    background-color: #302f2f;
}

.react-calendar__tile:hover {
    background-color:  #38795a;
    border-radius: 5px;
}

/* Year, decade, century views */
.react-calendar__year-view__months__month,
.react-calendar__decade-view__years__year,
.react-calendar__century-view__decades__decade {
    background-color: #302f2f;
}

.react-calendar__year-view__months__month:hover,
.react-calendar__decade-view__years__year:hover,
.react-calendar__century-view__decades__decade:hover {
    border: none;
    background-color: #e0e0e0;
    border-radius: 4px;
}

/* Hover effect on weekday names */
.react-calendar__month-view__weekdays__weekday:hover span {
    
    background-color:  #38795a;
}
